*{
    padding:0;
    margin:0;
    font-family: "Inter", sans-serif;
}

html {
    scrollbar-color: #c7c7ff #5e5e5e;
    scrollbar-width: thin;
    
  }
  

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  
  /* nav bar styling */
.navbar{
    display: flex;
    width: 70%;
    position: fixed;
    height: 50px;
    z-index: 9;
    opacity: 1;
    border-radius: 10px;
    top: 0;
    margin-top: 10px;
    background-color:rgba(213, 213, 213, 0.575);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.33) inset;

  }



.navbar > ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    height: 100%;
    align-items: center;
    text-transform:capitalize;
    color:rgb(255, 255, 255);


  }

.navItem {
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.navItem.active {
    font-size: 2rem;
    font-weight:bold;
}

/* homepage */
.home{
    min-height: 100vh;
    position: fixed;
    background-color:#1A1D2C;
    display:flex;
    justify-content: space-around;
    align-items:center;
    overflow: hidden;
    z-index:-1;
}

.heroImg{
    display:flex;
    position:absolute;
    z-index:6;
    top: 30px;
    right: -30px;
    height: 100%;
    opacity: 1;
    border-radius:1rem;
    scale:0.6;
    filter: grayscale(100%);
    transition: 1s;
}

.h-shape{
    width: 65%;
    height: 100%;
    top:0;
    right:0;
    background-color: #3ab966;
    position: absolute;
    clip-path: polygon(85% 0, 100% 0%, 100% 100%, 68% 100%);
}

.heroImg:hover{
    filter: grayscale(0%);
    scale:0.7;
}

.heroText{    
    font-size: 3rem;
    padding-right:700px;
    padding-left:100px;
    
}

.heroName{
    font-size: 6rem;
    color:#3ab966;
}

.heroInfo{
    color:white;
    font-size:2.2rem;
    padding-top:1rem;
}

.heroHeading{
    font-size: 6rem;
    color:white;
}

/*project page*/
.project{
    min-height: 100vh;
    position: fixed;
    background-color:#1A1D2C;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    width:100%;
    z-index:-1;
    overflow:hidden;
}

.projects-container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width:100%;
}

.project-card{
    margin: 10px;
    position:relative;
    color: white;
    width: 100px;
    height:600px;
    border-radius:2em;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    overflow:hidden;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: rgba(255, 255, 255, 0.4) 0px 2px 4px, rgba(255, 255, 255, 0.3) 0px 7px 13px -3px, rgba(255, 255, 255, 0.2) 0px -3px 0px inset;
}

.project-card > .project-info{
    display:flex;
    text-align:center;
}

.project-card > .project-info > .project-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    font-size: 0.9em;
    height: 150px;
    width: 300px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: 0.3s;
    transition: all 0.3s ease;
}


.project-input{
    display:none;
}

.project-input:checked + .project-card{
    width: 600px;
}

.project-input:checked +.project-card >.project-info >.project-row{
    opacity: 1;
    transform: translateY(0px);
}

.project-card:hover .project-info{
    opacity: 1;

}

.project-card[for="c1"]{
    background-image: url('https://cdn.7tv.app/emote/63cec0c12ba67946677a463e/4x.webp');
}
.project-card[for="c2"]{
    background-image: url('https://cdn.7tv.app/emote/618c19e5d34608492cc2a4f4/4x.webp');
}
.project-card[for="c3"]{
    background-image: url('https://cdn.7tv.app/emote/645c29a0a93fbaf6fa2b5647/4x.webp');
}
.project-card[for="c4"]{
    background-image: url('https://cdn.7tv.app/emote/63e74c6b15f9f80bd0c465db/4x.webp');
}
.project-card[for="c5"]{
    background-image: url('https://cdn.7tv.app/emote/63f678370588a70e9a8d6da8/4x.webp');
}
.project-card[for="c6"]{
    background-image: url('https://cdn.7tv.app/emote/64f003caa18105dea8751e8e/4x.webp');
}
.project-card[for="c7"]{
    background-image: url('https://cdn.7tv.app/emote/6425a34b8e832b32ab453270/4x.webp');
}
.project-card[for="c8"]{
    background-image: url('https://cdn.7tv.app/emote/64cba95f921be539421404c5/4x.webp');
}
.project-card[for="c9"]{
    background-image: url('https://cdn.7tv.app/emote/64cd931ed3cf2f1c8cca5264/4x.webp');
}
.project-card[for="c10"]{
    background-image: url('https://cdn.7tv.app/emote/6425a34b8e832b32ab453270/4x.webp');
}


.project-btn-grp{
    display: flex;
    margin: 5px;
}

.project-btn{
    background-color:rgb(24, 24, 24);
    border-radius: 1rem;
    color: white;
    font-size: 0.9rem;
    padding: 5px;
    margin: 5px;
    transition: 0.3s ease-in-out;
}
.project-btn:hover{
    background-color:rgb(68, 68, 68);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.project-btn:active{
    background-color:rgb(138, 138, 138);
}

.projectHeading{
    font-size: 5rem;
    margin-top:7rem;
    background: linear-gradient(
        to right, 
        rgb(84, 237, 138),
        rgb(31, 233, 102),
        rgb(14, 172, 69),
        rgb(31, 233, 102),
        rgb(84, 237, 138)
    );
    background-clip:text;
    color:transparent;
    background-size: 200% auto;
    animation: gradientAnimation 1.5s linear infinite;
}
@keyframes gradientAnimation{
    0%{
        background-position: 200% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

/* about page */
.about{
    min-height: 100vh;
    position: fixed;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    justify-content: center;
    opacity: 0;
    width:100%;
    background-color:#191D2B;
    z-index:-1;
}


.info{
    display: flex;
    padding-top: 150px;
    color:#ffffff;
    align-items: center;
    background-color:#27AE5F;
    margin: 10% 5%;
    padding:3%;
    border-radius: 100px;
    scale:95%;
}    


.info-img{
    height:300px;
    width:300px;
    border-radius: 50%;
    margin-left: 50px;
}

.info-content{
    font-style:italic;
    font-size: 2.5rem;
    margin:0;

    padding-left: 150px;

}



.skills{
    color:white;
    align-items: center;
    display: flex;
    flex-direction: column;  
}

.skills-heading{
    color:#ffffff;
    margin-top: 3%;
    margin-bottom: 2%;
    font-size: 5rem;
    text-decoration: underline 2px #3ab966;
}

.skills-ctn{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    margin: 3rem 1.5rem;
    width:100%;
}

.skill-card{
    height: 24rem;
    background: linear-gradient(to top, rgb(26, 116, 62) 0%, rgb(39, 174, 95) 100%);
    margin: 3.5rem;
    width: 27rem;
    height:30rem;
    padding: 0.5rem;
    scale:1.1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    border-radius: 20px;
    position: relative;
    transition: width 2s, height 2s, transform 0.7s;
}

.skill-card:hover{
    transform:scale(1.25);
}


.skill-title{
    font-size:2rem;
    text-transform:capitalize;
    
}

.skill-info{
    position:relative;
    font-size:1.3rem;  
}


.prof{
    font-size:2rem;
}

/*
.skill-card:hover{
    height: 35rem;
}
  
.skill-card:hover .skill-img{
    scale: 1.4;
    
}

.skill-card:hover .skill-info{
    padding-top:100px;
}
*/
.EAE{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top:3rem;
}
  
.EAE-heading{
    font-size: 5rem;
    text-decoration: underline 2px #3ab966;
    text-transform:capitalize;
    padding-bottom:2rem;
    color:white;
}
  
.EAE-ctn{
    margin: 3rem 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 90%;
    
}
  
.EAE-ctn:before{
    content: '';
    width: 2px;
    background-color: white;
    position: absolute;
    left: 50%;
    height: 100vh;
}
  
.EAE-card{
    width: 40%;
    background: linear-gradient(to bottom right, rgb(0, 143, 64) 0%, rgb(77, 192, 118) 100%);
    color: white;
    border: 5px solid black;
    border-radius: 20px;
    padding: 15px;
    z-index: 0;
    display: block;
    position: relative;
}


  
.EAE-card:nth-child(even){
    margin-left: auto;
}
  
.EAE-card:nth-child(odd)::after{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    right: -20%;
    top: 35%;
    background: gray;
    transform: translateY(50%);
    border: 3px solid black;
}
  
  
.EAE-card:nth-child(even)::after{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    left: -20%;
    top: 35%;
    z-index: 9;
    background: gray;
    transform: translateY(50%);
    border: 3px solid black;
}
  
  
.EAE-card:nth-child(odd)::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 115px;
    right: -20%;
    top: 49%;
    z-index: -1;
    background: gray;
    transform: translateY(50%);
    border: 3px solid black;
}
  
  
.EAE-card:nth-child(even)::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 115px;
    left: -20%;
    top: 49%;
    z-index: -1;
    background: gray;
    transform: translateY(50%);
    border: 3px solid black;
}

/*contact page*/
.contact{    
    min-height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    width:100%;
    background-color:#1A1D2C;
    overflow-y:hidden;
    z-index:-1;
}

.contact-ctn{
    margin: auto;
    padding: 20px;
    background-color: #3ab966d2;
    border: 20px double #1A1D2C;
    width: 60%;
    display: grid;
    grid-template-columns: 30% 60%;
    grid-gap: 10%;
    margin-top: 250px;
}
  
.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
}


input{
    font-size: 2rem;
    margin: 10px;
    text-transform: capitalize;
}
  
button{
    margin: 15px;
    width: 7rem;
    font-size: 1rem;
    margin-left: 25%;
}
  
.contact-ctn:before{
    content: '';
    width: 2px;
    background-color: white;
    position: absolute;
    left: 40%;
    height: 450px;
}

/* page shift css*/
.home.active, .project.active, .about.active, .contact.active {
    position: relative;
    opacity: 1;
    z-index:8;
}



