*{
    padding:0;
    margin:0;
}

html {
    scrollbar-color: #c7c7ff #5e5e5e;
    scrollbar-width: thin;
    
  }
  

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  
  /* nav bar styling */
.navbar{
    display: flex;
    width: 90%;
    position: fixed;
    height: 50px;
    z-index: 9;
    opacity: 1;
    border-radius: 20px;
    top: 0;
    margin-top: 10px;
    background-color:rgba(170, 170, 170, 0.378);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);


  }



.navbar > ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    height: 100%;
    align-items: center;
    text-transform:capitalize;
    font-family:Arial, Helvetica, sans-serif; 
    color:rgb(226, 226, 226);


  }

.navItem {
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.navItem.active {
    font-size: 2rem;
    font-weight:bold;
}

/* homepage */
.home{
    min-height: 100vh;
    position: fixed;
    background-color:#1A1D2C;
    display:flex;
    justify-content: space-around;
    align-items:center;
    overflow: hidden;
    z-index:-1;
}

.heroImg{
    display:flex;
    position:absolute;
    z-index:6;
    top: 30px;
    right: 10px;
    height: 100%;
    opacity: 1;
    border-radius:1rem;
    scale:0.8;
    filter: grayscale(100%);
    transition: 1s;
}

.h-shape{
    width: 65%;
    height: 100%;
    top:0;
    right:0;
    background-color: #3ab966;
    position: absolute;
    clip-path: polygon(85% 0, 100% 0%, 100% 100%, 68% 100%);
}

.heroImg:hover{
    filter: grayscale(0%);
}

.heroText{    
    font-size: 3rem;
    font-family:Arial, Helvetica, sans-serif;   
    padding-right:700px;
    padding-left:100px;
    
}

.heroName{
    font-size: 6rem;
    color:#3ab966;
}

.heroInfo{
    color:white;
    font-size:2.2rem;
    padding-top:1rem;
}

.heroHeading{
    font-size: 6rem;
    color:white;
}

/*project page*/
.project{
    min-height: 100vh;
    position: fixed;
    background-color:#1A1D2C;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    justify-content: center;
    opacity: 0;
    width:100%;
    z-index:-1;
}

.projects-container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    width: 90%;
    margin: 8rem;
}

.project-card{
    margin: 40px;
    position:relative;
    color: white;
    border: 10px ridge #b4b4b4;
    width: 85%;
    display:flex;

}

.projectImg{
    object-fit:cover;
    width:100%;
}

.project-info{
    position:absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10%;
    font-size: 1.5rem;
    color: white;
    opacity: 0;
}

.project-Heading {
    font-size: 2rem;
    --s: 0.1em;   /* the thickness of the line */
    --c: rgb(255, 255, 255); /* the color */
        
    color: #0000;
    padding-bottom: var(--s);
    background: 
        linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
        linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
    background-clip: text,padding-box;
    transition: 0.5s;
}

.project-card:hover .project-Heading {
    --_p: 100%;
}

.project-card:hover .projectImg{
    opacity:0.3;
}

.project-card:hover .project-info{
    opacity: 1;

}

.project-btn-grp{
    display: flex;
    margin: 15px;
}

.project-btn{
    background-color:rgb(24, 24, 24);
    color: white;
    font-size: 1.3rem;
    padding: 10px;
    margin: 10px;
}



.projectHeading{
    font-size: 5rem;
    text-decoration: underline 2px #3ab966;
    font-family:Arial, Helvetica, sans-serif;
    padding-top:7rem;
}


.about{
    min-height: 100vh;
    position: fixed;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    justify-content: center;
    opacity: 0;
    width:100%;
    background-color:#191D2B;
    z-index:-1;
}


.info{
    display: flex;
    padding-top: 150px;
    color:#ffffff;
    align-items: center;
    background-color:#27AE5F;
    margin: 10% 5%;
    padding:3%;
    border-radius: 100px;
    scale:95%;
}    


.info-img{
    height:300px;
    width:300px;
    border-radius: 50%;
    margin-left: 50px;
}

.info-content{
    font-style:italic;
    font-family: sans-serif;
    font-size: 2.5rem;
    margin:0;

    padding-left: 150px;

}



.skills{
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;  
}

.skills-heading{
    color:#ffffff;
    margin-top: 3%;
    margin-bottom: 2%;
    font-size: 5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline 2px #3ab966;
}

.skills-ctn{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    margin: 3rem 1.5rem;
    width:100%;
}

.skill-card{
    height: 24rem;
    background: linear-gradient(to top, rgb(26, 116, 62) 0%, rgb(39, 174, 95) 100%);
    margin: 3.5rem;
    width: 27rem;
    height:30rem;
    padding: 0.5rem;
    scale:1.1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    border-radius: 20px;
    position: relative;
    transition: width 2s, height 2s, transform 0.7s;
}

.skill-card:hover{
    transform:scale(1.25);
}


.skill-title{
    font-size:2rem;
    text-transform:capitalize;
    font-family:Arial, Helvetica, sans-serif;
    
}

.skill-info{
    position:relative;
    font-size:1.3rem;  
}


.prof{
    font-size:2rem;
}

/*
.skill-card:hover{
    height: 35rem;
}
  
.skill-card:hover .skill-img{
    scale: 1.4;
    
}

.skill-card:hover .skill-info{
    padding-top:100px;
}
*/
.EAE{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top:3rem;
}
  
.EAE-heading{
    font-size: 5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline 2px #3ab966;
    text-transform:capitalize;
    padding-bottom:2rem;
    color:white;
}
  
.EAE-ctn{
    margin: 3rem 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 90%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
  
.EAE-ctn:before{
    content: '';
    width: 2px;
    background-color: white;
    position: absolute;
    left: 50%;
    height: 100vh;
}
  
.EAE-card{
    width: 40%;
    background: linear-gradient(to bottom right, rgb(0, 143, 64) 0%, rgb(77, 192, 118) 100%);
    color: white;
    border: 5px solid black;
    border-radius: 20px;
    padding: 15px;
    z-index: 0;
    display: block;
    position: relative;
}


  
.EAE-card:nth-child(even){
    margin-left: auto;
}
  
.EAE-card:nth-child(odd)::after{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    right: -20%;
    top: 35%;
    background: gray;
    transform: translateY(50%);
    border: 3px solid black;
}
  
  
.EAE-card:nth-child(even)::after{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    left: -20%;
    top: 35%;
    z-index: 9;
    background: gray;
    transform: translateY(50%);
    border: 3px solid black;
}
  
  
.EAE-card:nth-child(odd)::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 115px;
    right: -20%;
    top: 49%;
    z-index: -1;
    background: gray;
    transform: translateY(50%);
    border: 3px solid black;
}
  
  
.EAE-card:nth-child(even)::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 115px;
    left: -20%;
    top: 49%;
    z-index: -1;
    background: gray;
    transform: translateY(50%);
    border: 3px solid black;
}

/*contact page*/
.contact{    
    min-height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    width:100%;
    background-color:#1A1D2C;
    overflow-y:hidden;
    z-index:-1;
}

.contact-ctn{
    margin: auto;
    padding: 20px;
    background-color: #3ab966d2;
    border: 20px double #1A1D2C;
    width: 60%;
    display: grid;
    grid-template-columns: 30% 60%;
    grid-gap: 10%;
    margin-top: 250px;
}
  
.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
}


input{
    font-size: 2rem;
    margin: 10px;
    text-transform: capitalize;
}
  
button{
    margin: 15px;
    width: 7rem;
    font-size: 1rem;
    margin-left: 25%;
}
  
.contact-ctn:before{
    content: '';
    width: 2px;
    background-color: white;
    position: absolute;
    left: 40%;
    height: 450px;
}

/* page shift css*/
.home.active, .project.active, .about.active, .contact.active {
    position: relative;
    opacity: 1;
    z-index:8;
}



